<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Books</title>
</head>
<body>

<h1>Address Books</h1>

<form th:action="@{/ab}" method="post">
    <input type="submit" value="Create">
</form>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Open</th>
        <th>Delete</th>
    </tr>
    <tr th:each="ab : ${addressbooks}">
        <td th:text="${ab.id}">0</td>
        <td><a th:href="@{|/ab/find/${ab.id}|}">View</a></td>
        <td>
            <form th:action="@{|/ab/${ab.id}/delete|}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>

</body>
</html>
